{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <main>
        <div>
            {{ if .Site.Params.Portrait.Path }}
                <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
            {{ end }}

            <h1 style="margin-bottom: 1px";>{{ .Site.Title }}</h1>
            {{- with .Site.Params.social }}
            <div>
                {{ partial "social-icons.html" . }}
            </div>
            <p>AWS and CompTIA Security+ Certified DevSecOps/Systems Engineer with 6 years of IT experience.</p>
            {{- end }}

            <p></p>You can find my <a href="/resume">résumé</a> here, as well as information on <a href="/projects/this_site/">how this site is hosted</a>, and my various <a href="/projects">projects</a>.</p>

            <div class="text-align:center">
                <a href="https://www.credly.com/badges/f14b3806-b514-4808-bd92-47e87d73058e/public_url" style="text-decoration:none" target="_blank">
                    <img src="/img/aws-certified-cloud-practitioner.png" alt="AWS Cloud Practitioner" style="max-width:150px;display:inline-block;"/>
                </a>
                <a href="https://www.credly.com/badges/b4667271-21cb-4e23-a98f-c9f1719e8548/public_url" style="text-decoration:none" target="_blank">
                    <img src="/img/comptia-security-ce-certification.png" alt="CompTIA Security+" style="max-width:150px;display:inline-block;"/>
                </a>
            </div>
{{ end }}
